NODE_ENV=development
PORT=3000
TZ=America/Bogota

# Database SQL
#DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
#DATABASE_ENGINE=postgres

# Database NoSQL
DATABASE_URL=mongodb://mongo:mongo@localhost:27017/mongo?authSource=admin&replicaSet=rs0
DATABASE_ENGINE=mongodb

FILE_STORAGE_VENDOR=local
UPLOADS_PATH=/uploads
EMBEDDING_MODEL=minishlab/potion-base-32M
GEMINI_API_KEY=123
CHUNK_SIZE=2048
CHUNK_OVERLAP=200