NODE_ENV=development
PORT=8000
TZ=America/Bogota

# Database SQL (PostgreSQL)
# Use schemas: app (application), vectors (embeddings), temporal (orchestration)
# DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/postgres
# DATABASE_ENGINE=postgres

# Database NoSQL
DATABASE_URL=mongodb://mongo:mongo@mongodb:27017/mongo?authSource=admin&replicaSet=rs0
DATABASE_ENGINE=mongodb

FILE_STORAGE_VENDOR=local
UPLOADS_PATH=uploads
HF_TOKEN=123
LOG_LEVEL=INFO

# Embedding
EMBEDDING_MODEL=vanilla
EMBEDDING_MODEL_CHUNK=all-MiniLM-L6-v2

# Chunking
CHUNK_STRATEGY=vanilla
CHUNK_SIZE=2048
CHUNK_OVERLAP=200

# Temporal
TEMPORAL_NAMESPACE=default
TEMPORAL_HOST=temporal:7233
TEMPORAL_TASK_QUEUE=file-processing-queue

# LLM
OLLAMA_HOST=http://localhost:11434
GENERATION_MODEL=ollama/tinyllama

